body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.deck {
  padding: 10px 0;
  background-color: #555;
}

.user-actions {
  margin: 20px 0;
}
