@background: #fafafa;
@color: #333;
@spacing: 20px;
@deck-background: #555;

body {
  background: @background;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @color;
}

.deck {
  padding: @spacing 0;
  background-color: @deck-background;
}

.user-actions {
  margin: @spacing 0;
}
