<div class="container" ng-controller="FindRoomCtrl">
  <div class="jumbotron">
    <h1>Planning Poker</h1>
    <p>
      Planning poker, also called Scrum poker, is a consensus-based technique for estimating,
      mostly used to estimate effort or relative size of user stories in software development.
      It is a variation of the Wideband Delphi method. It is most commonly used in agile 
      software development, in particular the Extreme Programming methodology.
    </p>

    <form class="form-inline" name="roomForm">
      <div class="row">
        <div class="col-4">
          <div class="input-group">
            <input class="form-control" name="slug" type="text" placeholder="Room ID" ng-model="slug" required />
            <span class="input-group-btn">
              <button class="btn" type="button" ng-click="join(slug)" ng-disabled="roomForm.slug.$invalid">
                Join
              </button>
            </span>
          </div>
        </div>
        <button class="btn btn-primary" type="button" ng-click="hostRoom()">Host Room</button>
      </div>
    </form>
  </div>
</div>
