<div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>
          <a ng-href="{{hash}}/">Planning Poker</a>
          <small>Room: <a ng-href="{{hash}}/room/{{room.slug}}">{{room.slug}}</a></small>
        </h1>
      </div>
    </div>
  </div>

  <div class="deck">
    <div class="container">
      <div class="row">
        <div class="span12">
          <card ng-class="{'selected': $parent.card.selected}"
                ng-repeat="card in deck.cards"
                value="{{card.value}}"
                ng-click="$parent.selectCard($parent.card)">
            <span ng-bind-html-unsafe="card.display"></span>
          </card>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row room-details">
      <div class="span9">
        <ul class="user-list">
          <li ng-repeat="user in room.users">
            {{user.id}}
            <span ng-bind="user.status" ng-show="user.status == 'committed'"></span>
          </li>
        </ul>
      </div>
      <div class="span3 room-actions">
        <button class="btn btn-large btn-primary"
                type="button"
                ng-click="commit()"
                ng-disabled="!userSelection || userSelection.committed">Commit</button>
        <button class="btn btn-large" type="button">Reset</button>
      </div>
    </div>
  </div>
</div>
